<h1> Labmon </h1>

<div class="summary">
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong>BASIC RESEARCH, APPLIED RESEARCH &amp; OPERATIONAL MODELING&nbsp;</strong></p>
<p style="text-align: justify;">The Laboratory for Modeling and Oceanic Observation (LABMON) was created in 1990 as one fo the pioneer research centers in Brazil dedicated to observations and the development and use of state-of-art ocean general circulation models (OGCMs) for the study of ocean circulation and processes in spatial scale ranging from estuarine to planetary. Research conducted at LABMON includes problems associated with the role of the ocean in the climate system, physical and biogeochemical processes in coastal and estuarine regions, and the development of operational models for ocean forecast, with data assimilation. LABMON is a Research Group certified by the Brazilian Council for Scientific and Technological Development (CNPq).</p>
<p style="text-align: justify;">LABMON is dedicated to the development and use of numerical models and observations to advance the understanding of oceanic processes and the role of the ocean circulation in the Earth's Climate System</p>
</div>
