<div class="container">
<div class="logo">
  <h2> Labmon </h2>
</div>


<div class="row">

<div ngbDropdown>
  <button routerLink="/" class="btn btn-outline-primary" id="home_button">Home</button>
</div>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Labmon</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <button routerLink="/labmon/about"  routerLinkActive="active" class="dropdown-item">About</button>
    <button routerLink="/labmon/team"  routerLinkActive="active" class="dropdown-item">Team</button>
    <button routerLink="/labmon/links"  routerLinkActive="active" class="dropdown-item">Links</button>
    <button routerLink="/labmon/videos"  routerLinkActive="active" class="dropdown-item">Videos</button>
  </div>
</div>

<div ngbDropdown>
  <button routerLink="/courses" class="btn btn-outline-primary" id="home_button">Courses</button>
</div>

<div ngbDropdown>
<button routerLink="/projects" class="btn btn-outline-primary" id="home_button">Projects</button>
</div>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Publications</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <a href="https://scholar.google.com.br/citations?user=sGlScioAAAAJ&hl=pt-BR&oi=ao" target="_blank" class="dropdown-item"  >Papers</a>
    <button routerLink="/publications/supervision"  routerLinkActive="active" class="dropdown-item">Supervision</button>
  </div>
</div>

<div ngbDropdown>
  <button routerLink="/contact" class="btn btn-outline-primary" id="home_button">Contact</button>
</div>

</div>

</div>
