<div class="container">
<div class="logo">
  <h2> Labmon </h2>
</div>


<div class="row">

<div ngbDropdown>
  <button routerLink="/" class="btn btn-outline-primary" id="home_button">Home</button>
</div>

<div ngbDropdown>
  <button class="btn" id="dropdownConfig" ngbDropdownToggle>Labmon</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <button routerLink="/labmon/about"  routerLinkActive="active" class="dropdown-item">About</button>
    <button routerLink="/labmon/team"  routerLinkActive="active" class="dropdown-item">Team</button>
    <button routerLink="/labmon/links"  routerLinkActive="active" class="dropdown-item">Links</button>
    <button routerLink="/labmon/videos"  routerLinkActive="active" class="dropdown-item">Videos</button>
  </div>
</div>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Courses</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Projects</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Publications</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>

<div ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>Contact</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>

</div>

</div>
