<!--The content below is only a placeholder and can be replaced.-->

<!-- under navbar -->

<!-- div for carousel -->


<app-nav></app-nav>

<router-outlet></router-outlet>


<ngb-carousel>
  <ng-template ngbSlide>
    <img src="http://labmon.io.usp.br/images/fotos_cabecalho/labmon2.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://labmon.io.usp.br/images/fotos_cabecalho/agulhas_leakage.png"  alt="Random second slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://labmon.io.usp.br/images/fotos_cabecalho/labmon3.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
</ngb-carousel>



<!-- div to add space between caroussel and squares -->

<div class="space">
  <p></p>
</div>

<!-- divs for squares -->
<!-- <div class="squaresWrapper">
<div class="squares">
  <div class="gray">
    <h3>Lorem ipsum </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="white pic_one pic">

  </div>
</div>

<div class="squares">
  <div class="white pic_two pic">

  </div>
  <div class="gray">
    <h3>Lorem ipsum </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
</div>

<div class="squares">
  <div class="gray">
    <h3>Lorem ipsum </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
  <div class="white pic_three pic">

  </div>
</div>
<div class="squares">
  <div class="white pic_four pic">

  </div>
  <div class="gray">
    <h3>Lorem ipsum </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
</div>
</div> -->
