<div class="item-page">

	<h2>
			<a href="/index.php/en/labmon/links">
		Links</a>
		</h2>








<p style="color: #666666;"><a href="http://www.ipcc.ch/" target="_blank">Intergovernmental Panel on Climate Change</a></p>
<p style="color: #666666;"><a href="http://inct.ccst.inpe.br/" target="_blank">Instituto Nacional de Ciência e Tecnologia para Mudanças Climáticas</a></p>
<p style="color: #666666;"><a href="http://www.io.usp.br/" target="_blank">Instituto Oceanográfico da Universidade de São Paulo</a></p>
<p style="color: #666666;"><a href="http://www.rederemo.org/" target="_blank">Rede de Modelagem e Observação Oceanográfico</a></p>
<p style="color: #666666;"><a href="http://sacc.coas.oregonstate.edu/~sacc/" target="_blank">South Atlantic Climate Change</a></p>
<p style="color: #666666;"><a href="http://www.usp.br/" target="_blank">Universidade de São Paulo</a></p>

</div>
