<div class="item-page">

	<h2>
			<a href="/index.php/en/labmon/team">
		Team</a>
		</h2>









<h2>Professor</h2><div id="pessoal">
<div class="pessoal foto"><img src="http://hmsc.oregonstate.edu/sites/hmsc.oregonstate.edu/files/feature-story/6.19_-_water.jpg" height="150px"></div>
<div class="pessoal texto"> <h3><b>Edmo José Dias Campos</b></h3><br>
<p>CNPq Researcher Level 1-A and Member of the Brazilian Academy of Sciences. Bachelor and Master in Physics from the University of Brasilia. PhD in Physical Oceanography from the University of Miami. Professor and Chairman of the International Relations Institute of Oceanography, University of São Paulo. Adjunct Professor, Rosenstiel School of the University of Miami. IPCC member as Principal Co-Author of Chapter 3 of the 5th Assessment Report (AR5). Principal Co-Author of Chapter 3 of the first. Assessment Report of the Brazilian Climate Panel on Climate Change (PBMC).</p>
<a href="http://lattes.cnpq.br/2137955582623291" target="_blank">http://lattes.cnpq.br/2137955582623291</a>
</div>
</div><h2>Technical Staff</h2><div id="pessoal">
<div class="pessoal foto"><img src="http://hmsc.oregonstate.edu/sites/hmsc.oregonstate.edu/files/feature-story/6.19_-_water.jpg" height="150px"></div>
<div class="pessoal texto"> <h3><b>Carlos Augusto de Sampaio França</b></h3><br>
<p>Graduated in Physics, Institute of Physics, University of São Paulo (1984), MA in Physical Oceanography at the Oceanographic Institute of the University of São Paulo (1988) and a PhD in Physical Oceanography at the Oceanographic Institute of the University of São Paulo (2000). He is currently the Physical Oceanographic Institute, University of São Paulo. Has experience in Oceanography, with emphasis on satellite altimetry, acting on the following subjects:. Tides, sea level, southeastern Brazilian coast, satellite altimetry and numerical modeling</p>
<a href="http://lattes.cnpq.br/2663734504607751" target="_blank">http://lattes.cnpq.br/2663734504607751</a>
</div>
</div><h2>Postdoctoral</h2><div id="pessoal">
<div class="pessoal foto"><img src="http://hmsc.oregonstate.edu/sites/hmsc.oregonstate.edu/files/feature-story/6.19_-_water.jpg" height="150px"></div>
<div class="pessoal texto"> <h3><b>Fabrício Sanguinetti Cruz de Oliveira</b></h3><br>
<p>Graduated in Fishing Engineering from Universidade Federal Rural de Pernambuco (2001), Masters in Remote Sensing by National Institute for Space Research (2005) and Ph.D. in Oceanography (Physical Oceanography), University of São Paulo (2010). Has experience in the area of Oceanography and Remote Sensing, emphasizing Radar altimeters and scatterometers, Satellite Radiometric Oceanic and Ocean-Atmosphere Interaction Modeling, acting on the following topics: Rossby waves, vortices of Meso-scale circulation of the South Atlantic Climate and Physical Interaction biological changes. He is currently a postdoctoral fellow of the Foundation for Research Support of the State of São Paulo (FAPESP), based at the Department of Physical, Chemical and Geological Oceanography Oceanographic Institute of the University of São Paulo and under the visiting researcher at the Rosenstiel School of Marine and Atmospheric Science at the University of Miami</p>
<a href="http://lattes.cnpq.br/5741449115013966" target="_blank">http://lattes.cnpq.br/5741449115013966</a>
</div>
</div><div id="pessoal">
<div class="pessoal foto"><img src="http://hmsc.oregonstate.edu/sites/hmsc.oregonstate.edu/files/feature-story/6.19_-_water.jpg" height="150px"></div>
<div class="pessoal texto"> <h3><b>Paola Maria Castellano Ossa Fernandes</b></h3><br>
<p>Postdoctoral Investigator at Oceanographic Institution-University of Sao Paulo- Brazil.  PhD in Physical Oceanography, Universitat Politècnica de Catalunya. MSc in Physical Oceanography, Joint Program University of Las Palmas de Gran Canaria and Institut de Ciències del Mar (ICM), CSIC, Spain. Field of interest: Inter-hemispheric transport,  air-sea interaction, Large-scale circulation, Upper-ocean, Ocean modeling, Climate change.</p>
<a href="http://lattes.cnpq.br/2511311828391078" target="_blank">http://lattes.cnpq.br/2511311828391078</a>
</div>
</div><h2>Doctorate</h2><div id="pessoal">
<div class="pessoal foto"><img src="http://hmsc.oregonstate.edu/sites/hmsc.oregonstate.edu/files/feature-story/6.19_-_water.jpg" height="150px"></div>
<div class="pessoal texto"> <h3><b>Wlademir Jose de Santis Junior</b></h3><br>
<p>Obtained a bachelor’s degree in meteorology from the University of Sao Paulo and a Master’s Degree also in Metereology, from the same institution, in 2008. Worked on developing a methodology for operational tracking and classification of extratropical and subtropical cyclones, based on their energy cycle properties. Participated in projects in oceanography, designing ocean forecast systems for meso and large scale circulation. Since 2013, is a Ph.D student at the University of Sao Paulo, in the Oceanographic Institute. The thesis theme concerns some aspects of the global thermohaline circulation variability and its relation to the South Atlantic circulation. Recently, joined a research project which goal is to investigate the relation between the Inter-tropical Convergence Zone position and the Meridional Overturning Circulation.)</p>
<a href="http://lattes.cnpq.br/6740541529985490" target="_blank">http://lattes.cnpq.br/6740541529985490</a>
</div>
</div><h2>Masters</h2><div id="pessoal">
<div class="pessoal foto"><img src="http://hmsc.oregonstate.edu/sites/hmsc.oregonstate.edu/files/feature-story/6.19_-_water.jpg" height="150px"></div>
<div class="pessoal texto"> <h3><b>Jéssica de Carvalho</b></h3><br>
<p>M.Sc. LABMON</p>
<a href="/" target="_blank"></a>
</div>
</div><h2>Undergraduate</h2><div id="pessoal">
<div class="pessoal foto"><img src="http://hmsc.oregonstate.edu/sites/hmsc.oregonstate.edu/files/feature-story/6.19_-_water.jpg" height="150px"></div>
<div class="pessoal texto"> <h3><b>Carolina Ernani da Silva</b></h3><br>
<p>Student of Bachelor of Oceanography, University of São Paulo in the Oceanographic Institute. With experience in oceanography, with emphasis in Physical Oceanography at meso-scale. With interest in Remote Sensing and Modeling.</p>
<a href="http://lattes.cnpq.br/7159995575201218" target="_blank">http://lattes.cnpq.br/7159995575201218</a>
</div>
</div>


</div>
